* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
img {
  width: 80px;
}

body {
  background-color: black;
}
.game {
  background: url(./img/backgroundImg.png) center/cover;
  width: 800px;
  height: 500px;
  border-radius: 20px;
  margin: auto;
  margin-top: 10px;
}
.game_header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
}
.game_play_btn {
  width: 50px;
  height: 50px;
  border: 3px solid black;
  background-color: greenyellow;
  color: black;
  margin-top: 10px;
  font-size: 28px;
  transition: all 100ms ease-in;
  /* visibility: hidden; */
}

.game_timer {
  width: 100px;
  border: 3px solid black;
  background-color: white;
  border-radius: 10px;
  margin: 10px 0;
  padding: 5px 10px;
  visibility: hidden;
}
.game_score {
  border: 3px solid black;
  border-radius: 50%;
  background-color: tomato;
  width: 50px;
  height: 50px;
  font-size: 28px;
  visibility: hidden;
}
.game_field {
  width: 100%;
  height: 55%;
  margin-top: 40px;
  position: relative;
}
.pop_up {
  display: block;
  width: 400px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  transform: translateY(-150%);
  margin: auto;
  color: white;
  font-size: 36px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.pop_up_hidden {
  display: none;
}
.pop_up_replay_btn {
  width: 80px;
  height: 80px;
  font-size: 42px;
  background-color: gold;
  border: 3px solid black;
  border-radius: 50%;
  transition: all 0.3s linear;
}
.pop_up_replay_btn:hover {
  transform: rotateY(180deg);
}
